{% extends "layouts/new_base.html" %}

{% block title %} Profile {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>[專案]追蹤中</h5>
                                            <span>
                                                直接<code>點擊資料</code>可以進入詳細資訊; 以最後更新時間排序
                                            </span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>標題</th>
                                                            <th>種類</th>
                                                            <th>客戶</th>
                                                            <th>狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for f_project in favorite_projects %}
                                                        <tr class = "clickable-row"
                                                            data-toggle="tooltip"
                                                            data-href="{% url 'project_detail' f_project.project.id %}">

                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td>{{ f_project.project.title }}</td>
                                                            <td>{{ f_project.project.type }}</td>
                                                            <td>{{ f_project.project.customer.name }}</td>
                                                            <td>{{ f_project.project.status }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->

                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>[客戶]追蹤中</h5>
                                            <span>
                                                直接<code>點擊資料</code>可以進入詳細資訊; 以最後更新時間排序
                                            </span>
                                        </div>

                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>名稱</th>
                                                            <th>種類</th>
                                                            <th>手機</th>
                                                            <th>地址</th>
                                                            <th>狀態</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for f_customer in favorite_customers %}
                                                        <tr class = "clickable-row"
                                                            data-toggle="tooltip"
                                                            data-href="{% url 'customer_detail' f_customer.customer.name %}">
                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td>{{ f_customer.customer.name }}</td>
                                                            <td>{{ f_customer.customer.type }}</td>
                                                            <td>{{ f_customer.customer.cel }}</td>
                                                            <td>{{ f_customer.customer.address }}</td>
                                                            <td>{{ f_customer.customer.status }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Hover-table ] end -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>個人資訊</h5>
                                            {% if errMsg != None %}
                                                <small class="form-text text-danger">
                                                    {{errMsg}}
                                                </small>
                                            {% endif %}
                                            {% if Msg != None %}
                                                <small class="form-text text-success">
                                                    {{Msg}}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <form method="POST" action="/">{%csrf_token%}
                                            {{form.is_accept.as_hidden}}
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>帳號名稱</label>
                                                        <h1>{{ request.user.username }}</h1>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>部門</label>
                                                        <h4>{{ user.department }}</h4>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label>名字</label>
                                                        {{form.first_name}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label>姓氏</label>
                                                        {{form.last_name}}
                                                    </div>
                                                </div>


                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label {% if not request.user.email %} class="text-danger" {% endif %}>
                                                            Email address</label>
                                                        {{form.email}}
                                                        {% if not request.user.email %}
                                                            <small id="emailHelp" class="form-text text-danger">
                                                                You don't have an email address associated with this account.
                                                            </small>
                                                        {% endif %}
                                                    </div>
                                                </div>


                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>暱稱</label>
                                                        {{form.nickname}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>聯絡電話</label>
                                                        {{form.phone_number}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                <h5><a class="text-muted" href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                                                    <span class="text-success"><b>Line</b></span>資訊 (點擊展開)
                                                </a></h5>
                                                </div>

                                                <div id="collapseOne" class="col-sm-12 mb-4 collapse hidden">
                                                    <div class ="row">
                                                        <div class="col-sm-6 mb-4">
                                                            <div class="form-group">
                                                                <label>Line 帳號</label>
                                                                {{form.line_account}}
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 mb-4">
                                                            <div class="form-group">
                                                                <label>Line Notify Token --
                                                                        <a class="text-success mb-1" href="https://notify-bot.line.me/en/" target="_blank">
                                                                            ( 申請連結 )
                                                                        </a>
                                                                </label>
                                                                    {{form.notify_token}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <input type = 'submit' class="btn btn-primary" value="Save">
                                                        <a href="/" class="btn btn-secondary">Cancel</a>
                                                        <a href="/change_password" class="btn btn-light">Change password</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock javascripts %}
