{% extends "layouts/new_base.html" %}

{% block title %} Project {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'list_customers' %}">客戶清單</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'customer_detail' project.customer.name %}">[客戶]{{project.customer.name}}</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'project_detail' project.id %}">[專案細項]{{project.title}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>專案細項</h5>
                                            <a href="{{project.google_calendar_event}}" target="_blank">
                                                <img class="rounded" style="width:30px;"
                                                            src="{{ ASSETS_ROOT }}/images/widget/g_calendar.png"> 加入日曆
                                            </a>
                                            {% if errMsg != None %}
                                                <small class="form-text text-danger">
                                                    {{errMsg}}
                                                </small>
                                            {% endif %}
                                            {% if Msg != None %}
                                                <small class="form-text text-success">
                                                    {{Msg}}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <form method="POST" action="{% url 'project_detail' project.id %}">{%csrf_token%}
                                        {{ form.customer.as_hidden }}
                                        {{ form.creator.as_hidden }}
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-3 mb-4">
                                                    <label>Title</label>
                                                    <h4>{{ form.title }}</h4>
                                                    <span class="text-error">{{ form.title.errors }}</span>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <label>type</label>
                                                    <h4>{{ form.type }}</h4>
                                                    <span class="text-error">{{ form.title.errors }}</span>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <label>客戶</label>
                                                    <a href="{% url 'customer_detail' project.customer %}" Target="_blank">
                                                        <h4>{{ project.customer }}</h4>
                                                    </a>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>更新時間</label>
                                                    <h4>{{ project.update_time|date:'Y-m-d H:i' }}</h4>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>start_date</label>
                                                    {{form.start_date}}
                                                    <span class="text-error">{{ form.start_date.errors }}</span>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <label>due_date</label>
                                                    {{form.due_date}}
                                                    <span class="text-error">{{ form.due_date.errors }}</span>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>editor</label>
                                                    <h4>{{project.editor}}</h4>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>creator</label>
                                                    <h4>{{project.creator}}</h4>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>Status</label>
                                                    <h4>{{ form.status }}</h4>
                                                    <span class="text-error">{{ form.status.errors }}</span>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label> owner</label>
                                                    {{form.owner}}
                                                    <span class="text-error">{{ form.owner.errors }}</span>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <label>Note</label>
                                                    {{form.note}}
                                                    <span class="text-error">{{ form.note.errors }}</span>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <input type = 'submit' class="btn btn-primary" value="Save">
                                                    <a href="{% url 'customer_detail'  project.customer %}" class="btn btn-light">Cancel</a>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <h6>  <a href="{% url 'add_daily_report' project.id %}" class="btn btn-primary">+新增紀錄</a></h6>
                            <div class="page-wrapper">
                                <div class="row">
                                    {% for report, photo_num in daily_reports %}
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6>{{ report.update_time|date:'Y-m-d H:i' }} -- {{ report.creator.nickname }}</h6>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-sm-12 mb-4">
                                                        <h6>{{ report.note|linebreaksbr }}</h6>
                                                    </div>
                                                    <div class="col-sm-12 mb-4">

                                                        <div class="col-right">
                                                            {% for n in photo_num %}
                                                            <a href="{% url 'get_daily_report_photo' report.id n %}">
                                                                <img style="width:180px; height:120px"
                                                                    src="{% url 'get_daily_report_photo' report.id n %}"
                                                                >
                                                            </a>
                                                            {% endfor %}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
