{% extends "layouts/new_base.html" %}

{% block title %} Project {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'list_customers' %}">客戶清單</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'customer_detail' project.customer.id %}">[客戶]{{project.customer.name}}</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'project_detail' project.id %}">[專案細項]{{project.title}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm-6 mb-1">
                                                    <h5 >專案細項</h5>
                                                    <a href="{{calendar_template_link}}" target="_blank">
                                                        <img class="rounded" style="width:30px;"
                                                                    src="{{ ASSETS_ROOT }}/images/widget/g_calendar.png"> 加入日曆
                                                    </a>
                                                </div>

                                                <div class="col-sm-4 mb-1">
                                                </div>

                                                <div class="row col-sm-2 mb-1 text-right">
                                                    {% if not is_favorite %}
                                                    <form method="POST" action="{% url 'add_favorite_project' project.id%}">{%csrf_token%}
                                                        <input type = 'submit' class="btn btn-warning" value="加入追蹤">
                                                    </form>
                                                    {% elif is_favorite %}
                                                    <form method="POST" action="{% url 'rm_favorite_project' project.id%}">{%csrf_token%}
                                                        <input type = 'submit' class="btn btn-light" value="取消追蹤">
                                                    </form>
                                                    {% endif %}

                                                </div>
                                            </div>
                                            {% if errMsg != None %}
                                                <small class="form-text text-danger">
                                                    {{errMsg}}
                                                </small>
                                            {% endif %}
                                            {% if Msg != None %}
                                                <small class="form-text text-success">
                                                    {{Msg}}
                                                </small>
                                            {% endif %}

                                        </div>
                                        <form method="POST" action="{% url 'project_detail' project.id %}">{%csrf_token%}
                                        {{ form.customer.as_hidden }}
                                        {{ form.creator.as_hidden }}
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-3 mb-4">
                                                    <label>標題</label>
                                                    <h4>{{ form.title }}</h4>
                                                    <span class="text-error">{{ form.title.errors }}</span>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <label>類型</label>
                                                    <h4>{{ form.type }}</h4>
                                                    <span class="text-error">{{ form.title.errors }}</span>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <label>客戶</label>
                                                    <a href="{% url 'customer_detail' project.customer.id %}" Target="_blank">
                                                        <h4>{{ project.customer }}</h4>
                                                    </a>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>最後更新時間</label>
                                                    <h4>{{ project.update_time|date:'Y-m-d H:i' }}</h4>
                                                </div>

                                                <div class="col-sm-2 mb-4">
                                                    <label>開始時間</label>
                                                    {{form.start_date}}
                                                    <span class="text-error">{{ form.start_date.errors }}</span>
                                                </div>
                                                <div class="col-sm-2 mb-4">
                                                    <label>預計派工時間</label>
                                                    {{form.dispatch_date}}
                                                    <span class="text-error">{{ form.dispatch_date.errors }}</span>
                                                </div>
                                                <div class="col-sm-2 mb-4">
                                                    <label>預計完成時間</label>
                                                    {{form.due_date}}
                                                    <span class="text-error">{{ form.due_date.errors }}</span>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>最後編輯</label>
                                                    <h4>{{project.editor}}</h4>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>建立者</label>
                                                    <h4>{{project.creator}}</h4>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>狀態</label>
                                                    <h4>{{ form.status }}</h4>
                                                    <span class="text-error">{{ form.status.errors }}</span>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>負責人員</label>
                                                    {{form.owner}}
                                                    <span class="text-error">{{ form.owner.errors }}</span>
                                                </div>

                                                <div class="col-sm-3 mb-2">
                                                    <label>地址</label>
                                                    {{form.address}}
                                                    <span class="text-error">{{ form.address.errors }}</span>
                                                </div>

                                                <div class="col-sm-3 mb-2">
                                                    <label>報價紀錄</label>
                                                    <div>
                                                        <a href="{% url 'list_bom'  project.id %}" class="btn btn-info">報價單 紀錄</a>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <label>筆記</label>
                                                    {{form.note}}
                                                    <span class="text-error">{{ form.note.errors }}</span>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <input type = 'submit' class="btn btn-primary" value="Save">
                                                    <a href="{% url 'customer_detail'  project.customer %}" class="btn btn-light">Cancel</a>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <h6>  <a href="{% url 'add_daily_report' project.id %}" class="btn btn-primary">+新增紀錄</a></h6>
                            <div class="page-wrapper">
                                <div class="row">
                                    {% for report, photo_num in daily_reports %}
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6>
                                                    [{{ report.update_time|date:'Y-m-d' }}
                                                    <span class="text-muted mb-1">{{ report.update_time|date:'H:i' }}</span>] {{ report.creator.nickname }}
                                                </h6>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-sm-4 mb-1">
                                                        <h6>{{ report.note|linebreaksbr }}</h6>
                                                    </div>
                                                    {% for n in photo_num %}
                                                    <div class="col-sm-2 mb-4">
                                                        <div class="col-right">
                                                            <a href="{% url 'get_daily_report_photo' report.id n %}">
                                                                <img style="width:180px; height:120px"
                                                                    src="{% url 'get_daily_report_photo' report.id n %}"
                                                                >
                                                            </a>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
