<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <img style="width:52px; height:52px"
                     src="{{ ASSETS_ROOT }}/images/logo-thumb.png" class="rounded-circle">
                <span class="b-title">Manual</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>User</label>
                </li>
                <li data-username="Home Profile"
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">個人資訊</span></a>
                </li>

                <li data-username="user_management employee"
                    class="nav-item pcoded-hasmenu" >
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span
                            class="pcoded-mtext">使用者管理</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'view_all_users' %}">全部</a></li>
                        <li class=""><a href="{% url 'register_user' %}">創建使用者</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>客戶</label>
                </li>
                <li data-username="customer"
                    class="nav-item pcoded-hasmenu" >
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span
                            class="pcoded-mtext">客戶資訊</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'list_customers' %}">全部</a></li>
                    </ul>

                </li>
                <li data-username="add customer"
                    class="nav-item">
                    <a href="{% url 'add_customer' %}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-plus"></i></span><span
                            class="pcoded-mtext">新增</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>專案</label>
                </li>
                <li data-username="project case"
                    class="nav-item pcoded-hasmenu" >
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-folder"></i></span><span
                            class="pcoded-mtext">專案資訊</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'list_projects' %}">全部</a></li>
                    </ul>

                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>料件</label>
                </li>
                <li data-username="material bom"
                    class="nav-item pcoded-hasmenu" >
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package"></i></span><span
                            class="pcoded-mtext">料件資訊</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="{% url 'list_materials' %}">全部</a></li>
                        <li data-username="add material bom">
                            <a href="{% url 'add_material' %}">＋ 新增</a>
                        </li>
                    </ul>

                </li>
<!--                <li data-username="add material bom"-->
<!--                    class="nav-item">-->
<!--                    <a href="{% url 'material_type' %}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-plus"></i></span><span-->
<!--                            class="pcoded-mtext">新增類型</span></a>-->
<!--                </li>-->

                <li><br><hr></li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Restful Api</label>
                </li>
                <li data-username="api swagger"
                    class="nav-item">
                    <a href="{% url 'schema-swagger-ui' %}" class="nav-link" target="_blank"><span class="pcoded-micon"><i class="feather icon-command"></i></span><span
                            class="pcoded-mtext">API</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
