{% extends "layouts/new_base.html" %}

{% block title %} Tickets {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'tickets-list' %}">便簽清單</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ Hover-table ] start -->
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>便簽清單</h5>
                                            <span>
                                                直接<code>點擊資料</code>可以進入詳細資訊; 以最後更新時間排序
                                            </span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>客戶名稱</th>
                                                            <th>手機</th>
                                                            <th>地址</th>
                                                            <th>狀態</th>
                                                            <th>最後更新時間</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for ticket in tickets %}
                                                        <tr class = "clickable-row"
                                                            data-filter-name="{{ticket.customer_name}}"
                                                            data-filter-addr="{{ticket.customer_cel}}"

                                                            data-href="{% url 'tickets-employee_update' ticket.id %}"
                                                            data-toggle="tooltip">

                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td>{{ ticket.customer_name }}</td>
                                                            <td>{{ ticket.customer_cel }}</td>
                                                            <td>{{ ticket.customer_address }}</td>
                                                            <td>{{ ticket.status }}</td>
                                                            <td>{{ ticket.modify_datetime|date:'Y-m-d H:i' }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <button id="add-ticket-btn" class="btn btn-primary">+</button>
                                </div>
                                <!-- [ Hover-table ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    const currentHost = window.location.origin;

    jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });

    document.getElementById('add-ticket-btn').addEventListener('click', function() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "tickets-new_ticket" %}');
        xhr.setRequestHeader("Content-type", "application/json")
        xhr.setRequestHeader("Accept", "*/*");
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                var response = JSON.parse(this.responseText);
                var textArea = document.createElement('textarea');
                textArea.value = currentHost + '/tickets/' + response.id+ '/customer_update/';
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand('copy');
                document.body.removeChild(textArea);
                alert(currentHost + '/tickets/' + response.id+ '/customer_update/');
                location=location
            }
        };
        xhr.send();
    });
</script>
{% endblock javascripts %}