{% extends "layouts/new_base.html" %}

{% block title %} Customer {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'list_customers' %}">客戶清單</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'customer_detail' customer.id %}">[客戶]{{customer.name}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-sm-6 mb-1">
                                                    <h3>客戶資訊</h3>
                                                        {% if errMsg != None %}
                                                            <small class="form-text text-danger">
                                                                {{errMsg}}
                                                            </small>
                                                        {% endif %}
                                                        {% if Msg != None %}
                                                            <small class="form-text text-success">
                                                                {{Msg}}
                                                            </small>
                                                        {% endif %}
                                                </div>

                                                <div class="col-sm-3 mb-1">
                                                </div>

                                                <div class="row col-sm-3 mb-1 text-right">
                                                    <button id="copy-btn" class='btn' onclick="CopyInfo()"><i class="feather icon-clipboard"> 複製資訊</i></button>
                                                    {% if not is_favorite %}
                                                    <form method="POST" action="{% url 'add_favorite_customer' customer.id%}">{%csrf_token%}
                                                        <input type = 'submit' class="btn btn-warning" value="加入追蹤">
                                                    </form>
                                                    {% elif is_favorite %}
                                                    <form method="POST" action="{% url 'rm_favorite_customer' customer.id%}">{%csrf_token%}
                                                        <input type = 'submit' class="btn btn-light" value="取消追蹤">
                                                    </form>
                                                    {% endif %}


                                                </div>

                                            </div>

                                        </div>

                                        <form method="POST" action="{% url 'customer_detail' customer.id %}">{%csrf_token%}
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <label>名稱</label>
                                                    <h1>{{ customer.name }}</h1>
                                                    {{ form.name.as_hidden }}
                                                    {{ form.creator.as_hidden }}
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="row col-sm-12">
                                                        <div class="col-sm-4 mb-4">
                                                            <label>最後編輯</label>
                                                            <h6>{{ customer.editor.username }}</h6>
                                                        </div>
                                                        <div class="col-sm-4 mb-4">
                                                            <label>建立者</label>
                                                            <h6>{{ customer.creator.username }}</h6>
                                                        </div>
                                                        <div class="col-sm-4 mb-4">
                                                            <label>最後更新時間</label>
                                                            <h6>{{ customer.update_time|date:'Y-m-d H:i' }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="row col-sm-12">
                                                        <div class="col-sm-4 mb-4">
                                                            <label>類型</label>
                                                            <h4>{{ form.type }}</h4>
                                                            <span class="text-error">{{ form.type.errors }}</span>
                                                        </div>
                                                        <div class="col-sm-4 mb-4">
                                                            <label>狀態</label>
                                                            <h4>{{ form.status }}</h4>
                                                            <span class="text-error">{{ form.status.errors }}</span>
                                                        </div>
                                                        <div class="col-sm-4 mb-4">
                                                            <label>新增提醒</label>
                                                            <div>
                                                                <a href="{% url 'add_schedule_notify' %}"
                                                                   class="btn btn-warning"
                                                                   style="background-color: #02B201; border-color: #02B201"
                                                                >
                                                                    <div class="text-left"><i class="feather icon-bell text-left"></i></div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>手機</label>
                                                    {{form.cel}}
                                                    <span class="text-error">{{ form.cel.errors }}</span>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <label>聯絡電話</label>
                                                    {{form.tel}}
                                                    <span class="text-error">{{ form.tel.errors }}</span>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <label>Email</label>
                                                    {{form.email}}
                                                    <span class="text-error">{{ form.email.errors }}</span>
                                                </div>


                                                <div class="col-sm-6 mb-4">
                                                    <label>LINE</label>
                                                    {{form.line}}
                                                    <span class="text-error">{{ form.line.errors }}</span>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <label>地址</label>
                                                    {{form.address}}
                                                    <span class="text-error">{{ form.address.errors }}</span>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <label>筆記</label>
                                                    {{form.note}}
                                                    <span class="text-error">{{ form.note.errors }}</span>
                                                </div>


                                                <div class="col-sm-12 mb-2">
                                                    <input type = 'submit' class="btn btn-primary" value="Save">
                                                    <a href="{% url 'list_customers' %}" class="btn btn-light">Cancel</a>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>專案清單</h5>
                                            <span class="d-block m-t-5">
                                                直接<code>點擊資料</code>可以進入詳細資訊
                                            </span>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Title</th>
                                                            <th>Status</th>
                                                            <th>due_date</th>
                                                            <th>start_date</th>
                                                            <th>Owner</th>
                                                            <th>update_time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for proj in projects %}
                                                        <tr class = "clickable-row"
                                                            data-href="{% url 'project_detail' proj.id %}">

                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td>{{ proj.title }}</td>
                                                            <td>{{ proj.status }}</td>
                                                            <td>{{ proj.due_date|date:'Y-m-d' }}</td>
                                                            <td>{{ proj.start_date|date:'Y-m-d' }}</td>
                                                            <td>{{ proj.owner }}</td>
                                                            <td>{{ proj.update_time|date:'Y-m-d' }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <a href="{% url 'add_project' customer.id %}" class="btn btn-primary">+</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });

        function copyToClipboard(content) {
            var copyArea = document.createElement('textarea');
            copyArea.value = content;
            document.body.appendChild(copyArea);
            copyArea.select();
            document.execCommand('copy');
            document.body.removeChild(copyArea);
        }

        var customer_info_text = "{{customer.name}} \n 手機: {{customer.cel}} \n 電話: {{customer.tel}} \n 地址: {{customer.address}}"
        var copyBtn = document.getElementById('copy-btn');

        function CopyInfo() {
            copyToClipboard(customer_info_text)
            temp = copyBtn.innerHTML
            copyBtn.innerHTML = '已複製';
            setTimeout(function() {
                copyBtn.innerHTML = temp;
            }, 3000);
            alert(customer_info_text);
        }
    </script>
{% endblock javascripts %}
