{% extends "layouts/new_base.html" %}

{% block title %} Customer {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>客戶資訊</h5>
                                            {% if errMsg != None %}
                                                <small class="form-text text-danger">
                                                    {{errMsg}}
                                                </small>
                                            {% endif %}
                                            {% if Msg != None %}
                                                <small class="form-text text-success">
                                                    {{Msg}}
                                                </small>
                                            {% endif %}
                                        </div>
                                        <form method="POST" action="{% url 'customer_detail' customer.name %}">{%csrf_token%}
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <h1>{{ customer.name }}</h1>
                                                        {{ form.name.as_hidden }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-6 mb-4">
                                                                <label>creator</label>
                                                                <h6>{{ customer.creator.username }}</h6>
                                                            </div>
                                                            <div class="col-sm-6 mb-4">
                                                                <label>update_time</label>
                                                                <h6>{{ customer.update_time|date:'Y-m-d H:i' }}</h6>
                                                            </div>
                                                        </div>
                                                        <label>type</label>
                                                        <h4>{{ form.type }}</h4>
                                                    </div>
                                                </div>

                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label>TEL</label>
                                                        {{form.tel}}
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 mb-4">
                                                    <div class="form-group">
                                                        <label>CEL</label>
                                                        {{form.cel}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label> Email</label>
                                                        {{form.email}}
                                                    </div>
                                                </div>


                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>LINE</label>
                                                        {{form.line}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label>Address</label>
                                                        {{form.address}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label>Note</label>
                                                        {{form.note}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <input type = 'submit' class="btn btn-primary" value="Save">
                                                        <a href="{% url 'list_customers' %}" class="btn btn-light">Cancel</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
