{% extends "layouts/new_base.html" %}

{% block title %} Material {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'list_materials' %}">料件清單</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        {% if empty %}
                            <h2>No Material Found</h2>
                            <br>
                            <input type ="button" class="btn btn-secondary" onclick="history.back()" value="上一頁">
                        {% endif %}
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <!-- [ search bar ] start -->
                            <div class="col-sm-6">
                                <input type="text" id="material-search" class="form-control mb-4" placeholder="名稱搜尋... ">
                            </div>
                            <!-- [ search bar ] end -->

                            <div class="row">
                                {% for material in materials %}
                                <!--[social-media section] start-->
                                    <div class="col-md-6 col-xl-3 material-card" data-filter="{{material.name}}"  data-toggle="tooltip">
                                        <div class="card card-social" >
                                            <div class="card-block border-bottom">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-left">
                                                        <img style="width:150px; height:120px"
                                                            src="{% url 'get_material_cover' material.id %}">
                                                    </div>
                                                    <div class="col text-right">
                                                        <h4>{{ material.name }}</h4>
                                                        <h5 class="text-muted"> {{ material.type }} </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="row">

                                                    <div class="col-6 text-left">
                                                        <h6>
                                                            <h6>
                                                                <span class="text-muted m-r-5">料號:</span>
                                                                {{ material.part_number }}
                                                            </h6>
                                                            <span class="text-muted m-r-5">單位:</span>
                                                            {{ material.unit_price }}$ / {{ material.unit }}
                                                        </h6>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <a href="{% url 'material_detail' material.name %}" class="btn btn-light">詳細</a>
                                                    </div>

                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!--[social-media section] end-->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {% if not empty %}
        <script type="text/javascript">
            $(window).on('load', function() {
                $("#material-search").on("keyup", function() {
                    var g = $(this).val().toLowerCase();
                    $(".material-card").each(function() {
                        var t = $(this).attr('data-filter');
                        if (t) {
                            var s = t.toLowerCase();
                        }
                        if (s) {
                            var n = s.indexOf(g);
                            if (n !== -1) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        }
                    });
                });
            });
        </script>
    {% endif %}
{% endblock javascripts %}
